
.main-title {
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    font-style: italic;
    font-family: 'Playfair Display', Georgia, serif;
}

.main-title-first {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.contact-bar {
    
}

.contact-bar img {
    height: 27px;
    margin-right: 6px; 
    border: 0px;
}

.contact-bar img:hover {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    height: 35px; 
}

.contact-bar a {
    display: inline-block;
}

.footer {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 12px;
    font-weight: bolder; 
}

.footer a{
    color: black;
}

@media only screen and (max-width: 500px) {
    .main-title-name{
        display: none;
    }

    .centered {
        position: absolute;
        left: 20px;
        bottom: 40px;
        transform: none;
    }

    .contact-bar{
        position: fixed;
        left: 20px;
        bottom: 40px;
    }

    .contact-bar a{
        display:block;
    }
}