
html {
    height: 100%;
}

body {
    background-color: rgb(206,206,206);
    font-family: monospace; 
    color: white;
}

a {
    color: white;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar {
    padding-left: 20px;
    padding-top: 20px;
    width:10%;
}

.menu-bar a { 
    font-weight: bolder;
    font-size: 26px; 
    text-decoration: none;
}

.menu-bar a:hover {
    color: black;
}

/*
    css styles form mobile app
*/

@media only screen and (max-width: 500px) {
    body {
        background-color: white;
        font-family: monospace;
        background-image: url('/img/background/TomorrowWillBeABetterDay.jpg');
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-repeat: no-repeat;
        -moz-background-repeat: no-repeat;
        -o-background-repeat: no-repeat; 
        -webkit-background-attachment: fixed;
        -moz-background-attachment: fixed;
        -o-background-attachment: fixed;
        opacity: unset;
    }

    a{
        color: white;
    }

    .centered {
        width: 80%;
    }

    .menu-bar a {
        font-size: 30px;  
        text-decoration: none;
    } 
}