
html {
    height: 100%;
}

body {
    background-color: white;
    font-family: monospace; 
    color: black;
}

a{
    color: black;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar {
    padding-left: 20px;
    padding-top: 20px;
    width:10%;
}

.menu-bar a { 
    font-weight: bolder;
    font-size: 18px;
    text-decoration-color: red;
    text-decoration-line: underline;
}

.menu-bar a:hover {
    color: black;
}

/*
    css styles form mobile app
*/

@media only screen and (max-width: 500px) {
    body {
        background-color: white;
        font-family: monospace;
        background-image: url('/img/background/TomorrowWillBeABetterDay.jpg');
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: unset;
    }

    a{
        color: white;
    }

    .centered {
        width: 80%;
    }

    .menu-bar a {
        font-size: 30px;  
        text-decoration: none;
    } 
}