
html {
    height: 100%;
}

body {
    /*background-color: rgb(206,206,206);*/
    background-color:black;
    font-family: monospace;
    /*color: white;*/ 
    opacity: unset; 
}

a {
    color: white;
}

.backgoundImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('/img/background/game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    opacity: 0.4;
} 

.centered {
    position: fixed; /* or absolute */
    bottom:20px;
    left: 10px;
    /*transform: translate(-50%, -50%);*/
}

.menu-bar {
    padding-left: 20px;
    padding-top: 20px;
    width:10%;
}

.menu-bar a { 
    font-weight: bolder;
    font-size: 26px; 
    text-decoration: none;
}

.menu-bar a:hover {
    color: black;
}

.hidden{
    display: none;
}

/*
    css styles form mobile app
*/

@media only screen and (max-width: 500px) {
    body { 
        font-family: monospace;
        background-image: url('/img/background/TomorrowWillBeABetterDay_1.jpg');
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        opacity: unset;
    }

    .backgoundImg{
        display:none;
    }

    a{
        color: white;
    }

    .centered {
        width: 80%;
    }

    .menu-bar a {
        font-size: 30px;  
        text-decoration: none;
    } 
}