<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="Wenbo" content="first name" />
    <meta name="Chu" content="last name" />
    <meta name="褚文波" content="chinese name" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Wenbo Chu / Software developer</title>

    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/about.css" />

</head>
<body>
    <div class="menu-bar"><a href="/">Home</a></div>
    <div class="centered about">
        <div class="self-intro"> 
                Hey. My name is Wenbo Chu. I am a software developer. Self-motivated, Ability overcome difficulties and The ability to learn. 
           
                These skills help me along the way: C#, SQL, Javascript, HTML5 and CSS. I am kind of full stack developer. I work with database,back-end and front-end.
            
                I love javascript and try to become a better javascript programmer. 
        </div>
        <div class="jobs">
            <div class="about-subtitle">
                EXPERIENCE
            </div>
             <div>
                 <div class="experience-subtitle"> 02/10/2010-07/15/2013	Software developer,  Zi Chen Software, Beijing, China</div> 
                 <div>·	Worked on ERP system software development and BI report.</div>
                 <div>·	Win form and WPF application, Asp.net MVC, SQL server, JQuery. </div>
             </div>
            <div style="margin-top:5px; margin-bottom:5px;">
                <div class="experience-subtitle">07/30/2013-02/01/2016 Software developer, Beyondsoft, Beijing, China</div> 
                <div>·	Worked on localization platform and mobile app UI automation test tool(IOS and Android platform).</div>
                <div>·	WPF, Asp.net MVC, SQL server, Windows azure, JQuery, KnockoutJS, Bootstrap, Appium(open source test automation framework).</div>
            </div>
            <div>
                <div class="experience-subtitle">02/02/2016-now  Software developer, Beyondsoft Consulting .Inc, Bellevue,WA United States</div> 
                <div>·	Worked on localization platform Envelope and some tools used in localization process.</div>
                <div>·	Asp.net MVC, SQL server, Entity framework, Windows azure, WPF, JQuery, AngularJS-2, HTML5, CSS3, OAuth etc.</div>
                <div>·	Develop Hybrid mobile app(IOS and Android) using apache cordova. </div>
            </div>
        </div>

        <div class="education">
            <div class="about-subtitle">
                EDUCATION
            </div>
            <div>
                Bachelor, Qingdao University of Technology, Major: Electronic Information Science and Technology.
            </div> 
        </div>

        <div class="contact">
            <div class="about-subtitle">
                CONTACT
            </div>
            <div>
                Email: tall_tree@foxmail.com
            </div>
        </div>
    </div>
</body>
</html>