<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="Wenbo" content="first name"/> 
    <meta name="Chu" content="last name" />
    <meta name="褚文波" content="chinese name" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Chu,Wenbo</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="icon" href="../public/img/background/icon.png" />
</head>
<body>
    <div class="backgoundImg"></div>
    <div class="menu-bar hidden"><a href="/about">About</a></div>
    <div class="centered main-title">
        <div class="main-title-name">
            <!--<span class="main-title-first">W</span>enbo <span class="main-title-first">C</span>hu-->
            Chu,Wenbo
        </div>
        <div class="contact-bar">
            <a href="mailto:tall_tree@foxmail.com" target="_top">
                <img class="hidden" src="/img/email-5-128.png" title="Email" />
            </a> 
            <a href="https://www.linkedin.com/in/chuwenbo/" target="_blank">
                <img src="/img/linkedin-3-128.png" title="LinkedIn" />
            </a> 
            <a href="https://github.com/chuwenbo" target="_blank">
                <img src="/img/github-10-128.png" title="GitHub" />
            </a>
            <a title="Resume" class="resume" href="https://1drv.ms/w/s!AhbO6YoRjFT4rEuJZAoOpbQJmg4W" target="_blank">R</a>
        </div> 
    </div> 
    
    <div class="footer"><a href="https://nodejs.org/" target="_blank" >chuwenb@gmail.com</a></div>
</body>
</html>