<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="Wenbo" content="first name"/> 
    <meta name="Chu" content="last name" />
    <meta name="褚文波" content="chinese name" />

    <title>Wenbo Chu / Software developer</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
    <div class="menu-bar"><a href="/about">About</a></div>
    <div class="centered main-title">
        <div>
            <span style="color:black">W</span>enbo <span style="color:black">C</span>hu
        </div>
        <div class="contact-bar">
            <a href="mailto:tall_tree@foxmail.com" target="_top">
                <img src="/img/email-5-128.png" title="Email" />
            </a> 
            <a href="https://www.linkedin.com/in/chuwenbo/" target="_blank">
                <img src="/img/linkedin-3-128.png" title="LinkedIn" />
            </a> 
            <a href="https://github.com/chuwenbo" target="_blank">
                <img src="/img/github-10-128.png" title="GitHub" />
            </a>
        </div> 
    </div> 
    
    <div class="footer"><a href="https://nodejs.org/" target="_blank" >@NodeJS</a></div>
</body>
</html>